<div class="scroll">
  <table class="list">
    <% @user.each.with_index(1) do |user, i| %>
      <tr>
        <td class="list_td list_number"><%= i %></td>
        <td class="list_td "><%= link_to user.nickname, "#", class: :nickname %></td>
        <td class="list_td list_coin"><%= user.coin %></td>
      </tr>
      <tr>
      </tr>
    <% end %>
  <table>
</div>