@charset "utf-8";

#table {
  background-color: green;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#table td {
  position: relative;
  text-align: center;
}

#table button {
  width: 100%;
}

.total {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  border: 2px solid;
  font-size: 30px;
  width: 1.5em;
  text-align: center;
}

#myTotal {
  background-color: black;
  bottom: 10px;
}

#comTotal {
  background-color: black;
  top: 10px;
}

.button {
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: black;
  text-decoration: none;
  user-select: none;
  border: 1px black solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.button:hover{
  color: #fff;
  background: black;
}
