<div class="rule">
  <h1>ルール</h1>
  <h2>ブラックジャックの流れ（基本ルール）</h2>
  <ol>
    <li>ベットするコインを決め、ベットエリアに入力します。（初期値は10）</li>
    <li>「Start」をクリックすると、プレイヤーはカードを2枚配られます。ディーラーのカードは1枚だけ見えた状態となります。</li>
    <li>プレイヤーは自分に配られたカードとディーラーのオープンカードを確認し、もう１枚カードを引くかどうかを判断して「Hit」か「Stand」を選択します。</li>
    <li>プレイヤーの「Hit」か「Stand」の選択が終わると、ディーラーの伏せていたカードがオープンになり、プレイヤーのハンドとどちらが「21」に近いか勝負します。このとき、ディーラーはハンドが「17」以上になるまでカードを引き続けます。</li>
    <li>ハンドが「21」以下でより大きい数字を引いた方が勝利となります。プレイヤーもディーラーもハンドが「21」を超えると「バースト」となりその時点で負けとなります。両者「バースト」となった場合はプレイヤーの負けとなります。</li>
  </ol>
  <h2>カードの数え方</h2>
  <ul>
    <li>2〜9のカードは、そのまま2〜9として数える</li>
    <li>10と絵札（J、Q、K）のカード は、10として数える</li>
    <li>A（エース）のカード は、1か11として有利な方で数える</li>
  </ul>
  <br>
  <h2>ブラックジャックの用語</h2>
  <table class="rule_table">
    <tr>
      <th>用語</th>
      <th>意味</th>
    </tr>
    <tr>
      <td>Hit</td>
      <td>カードを１枚追加する。</td>
    </tr>
    <tr>
      <td>Stand</td>
      <td>カードを追加しない。現在の数値のままでディーラーと勝負する。</td>
    </tr>
    <tr>
      <td>Double</td>
      <td>次の一手で勝てそうだと思った場合、賭け金を倍にして次のカードを１枚だけ引くことができる。</td>
    </tr>
    <tr>
      <td>Surrender</td>
      <td>手札が悪く勝てないと判断した場合、賭け金の半分を渡してゲームから降りることができる。</td>
    </tr>
    <tr>
      <td>Blackjack</td>
      <td>はじめに配られたカードがA（エース）と10カードか絵札（J、Q、K）の組み合わせで、足した数が「21」になること。賭け金の1.5倍の報酬を得られる。</td>
    </tr>
  </table> 
</div>